body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e0dfdf;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    margin: 10px 0 17px 0;
}

.center {
    text-align: center;
}

.margin {
    margin: 10px;
}

table {
    width: 100%;
}

thead td {
    font-weight: bold;
}

td {
    padding: 5px;
}

table,
tr,
td {
    border: 1px solid grey;
}

/* navbar */

#title:hover {
    transform: scale(1.1);
}

/* quiz */

#quizSection {
    min-height: 450px;
}

.block h3 {
    padding: 10px;
}

.questionNb {
    text-decoration: underline;
}

.answer {
    text-align: center;
}

.hover:hover {
    box-shadow: 3px 5px #888888;
    background-color: #efecec;
    cursor: pointer;
}

.answer h3 {
    margin: 0;
}

#correct_answer {
    background-color: #3F51B5;
    color: white;
}

#chosen_correct_answer {
    background-color: green;
    color: white;
}

#chosen_answer {
    background-color: red;
    color: white;
}

#chosen {
    background-color: #6f7dcd;
    color: white;
}